@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            /* font-family: "Montserrat", sans-serif ; */
            font-family: "DM Sans", sans-serif;            
        }        

        body {
            background-color: #101010;
        }

        html {
            scroll-behavior: smooth;
        }

        /* Home Style */
        .hero {
            background: url('/assets/video.gif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100vh;
            position: relative;
            overflow-y: hidden;
            /* z-index: 1; */
        }

        .hero::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('/assets//heroimage.png') center center/cover no-repeat;
            z-index: -1;
        }

        .activelink {
            position: relative;            
            padding-top: 4px;
            padding-bottom: 4px;
        }
        
        .activelink::before,
        .activelink::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 1px;
            background-image: url('/assets/line.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            /* width: 20px; */
        }
        
        .activelink::before {
            top: 0;
        }
        
        .activelink::after {
            bottom: 0;
        }
        
        .hero::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .73);
            z-index: 1;
        }

        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
        }
        .otherwrapper{
            background-color: #101010;
            position:sticky;
            padding: 1rem 2rem;
            top: 0;
            z-index: 99999; 
        }
        .homewrapper{            
            /* position: fixed; */
            padding: 1rem 2rem;
            z-index: 99999; 
        }

        .wrapper {            
            width: 100%;
            z-index: 99999;            
        }
        .ce_multi a{
            text-decoration: none;
            color: #FFFFFF;
        }

        .nav__links {
            /* display: flex; */
            gap: 4rem;
        }

        .nav__links li {
            list-style: none;
        }

        .nav__links li a {
            color: white;
            text-decoration: none;
        }

        .hero__text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
        }

        .hero__text .first__text {
            font-size: 1.9rem;
        }

        .hero__text h1 {
            font-size: 8rem;
            line-height: 130px;
            font-family: 'Laila', serif;
            margin: 1rem 0 0 .6rem;
        }

        .hero__text .last__text {
            font-weight: 100;
            line-height: 25px;
            padding-top: 25px;
        }

        .explore {
            position: absolute;
            top: 84%;
            left: 47.1%;
        }

        .explore p {
            color: white;
            margin-bottom: .9rem;
            text-align: center;
            font-weight: 600;
        }

        .explore__img {
            height: 66px;
            /* margin-left: 1.4rem; */
            cursor: pointer;
            margin-bottom: 1rem;
        }

        .nav__links,
        .hero__text,
        .logo,
        .explore,
        .lang {
            z-index: 999;
        }

        .cat_container {
            height: 100vh;           
        }

        .cat_container h1 {
            text-align: center;
            color: white;
            font-family: 'Laila', serif;
            /* margin-bottom: 3rem; */
            font-weight: 400;
        }

        .cat_container .img_wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
        }

        .ce_multi::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            z-index: -1;
        }

        .prod::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .6);
            z-index: -1;
        }

        .o_house::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .6);
            z-index: -1;
        }


        .ce_multi {
            background: url('/assets/ce.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            color: white;
            padding: 1.5rem 2.7rem;
            z-index: 1;
        }

        .prod {
            background: url('/assets/prod.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            color: white;
            position: relative;
            padding: 1.5rem 2.7rem;
            z-index: 1;
        }

        .o_house {
            background: url('/assets/oh.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            color: white;
            position: relative;
            padding: 1.5rem 2.7rem;
            z-index: 1;
        }

        .ce_multi h3 {
            text-align: center;
            margin-bottom: 2rem;
        }

        .ce_multi article {
            line-height: 25px;
            padding-bottom: 2rem;
        }
        .btndesign {
            position: absolute;
            left: 0;
            bottom: 0;
            margin: 0; /* Adjust margin as needed */
            width: 189px;
            height: 45px;
           
        }        

        .prod h3 {
            text-align: center;
            margin-bottom: 2rem;
        }

        .prod article {
            line-height: 25px;
            padding-bottom: 2rem;
        }

        .o_house h3 {
            text-align: center;
            margin-bottom: 2rem;
        }

        .o_house article {
            line-height: 25px;
            padding-bottom: 2rem;
        }

        /* Navigation Responsiveness */
/* 
        .menu {
            display: none;
            color: white;
            cursor: pointer;
        }

        .close-icon {
            display: none;
            color: black;
        }

        .lang-sm {
            display: none;
        }

        .overlay {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .6);
            transition: display 0.5s ease-in-out;
            z-index: 99;
        } */

         @media (max-width: 991px) {
            .nav__links {  
                padding: 20px 0px;      
                gap: 1.4rem;
            }

            
        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0rem;
        }
        .otherwrapper{
            background-color: #101010;
            position:sticky;
            padding: 1rem 0rem;
            top: 0;
            z-index: 99999; 
        }
        .homewrapper{            
            /* position: fixed; */
            padding: 1rem 0rem;
            z-index: 99999; 
        }

        }


        @media (max-width: 800px) {            

            .hero__text .first__text {
                font-size: 1.4rem;
            }

            .hero__text h1 {
                font-size: 6rem;
                line-height: 95px;
            }

            .hero__text .last__text {
                font-size: .8rem;
            }

            .explore {
                left: 38.1%;
            }
        } 

        
        /* How it works Style */
        .howitwork {
            height: 100vh;           
            flex-shrink: 0;
            margin: 20px;
            background: #101010;
        }
        .howitwork h1
        {            
            text-align: center;
            color: white;
            font-family: 'Laila', serif;           
            font-weight: 400;
        }    
        .content {            
            padding: 2rem;
        }               

        .works {            
            flex-shrink: 0;
            background: rgba(27, 27, 27, 0.93);
            backdrop-filter: blur(35px);
            overflow-y: auto;
        }

        .works::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        .works::-webkit-scrollbar-track {
            background: none;
        }

        .works::-webkit-scrollbar-thumb {
            background: none;
        }

        .works ul {
            max-width: 70%;
            padding-left: 55px;
            text-align: justify;
        }

        .works ul li {
            color: #FFFFFF;                     
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding: 40px 0px 13px 0px;
        }

        .works ul span {
            color: #FFF;           
            font-size: 14px;
            font-style: normal;
            font-weight: 10px;
            line-height: 20px;
        }



        /* Animation Begins here */        
        

        
        